.popupContainer{
    position: absolute;
    width: 350px;
    color: #12131e;
    background-color: #ffffff;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.11);
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    z-index: 10;
    background-color: #ffffff;
}

hr{
    border-color: #ffffff;
}

.popButton5{
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    background-color: #ff1a45;
    margin-right: 8px;
}